In [14]:
import pandas as pd
from tqdm import tqdm
import re

In [2]:
df1 = pd.read_csv('data/test0123.csv')
df2 = pd.read_csv('data/data[4,5,6,7].csv')
df3 = pd.read_csv('data/data[8,9,10,11].csv')
df4 = pd.read_csv('data/data12-13-14-15.csv')

In [3]:
imdb_reviews = pd.concat([df1,df2,df3,df4])
len(imdb_reviews)

3066257

In [97]:
imdb_reviews.head()

,date,movieid,rating,text,userid
1,4 January 2007,tt00112302,6/10,We all know the story. There have been some pr...,Hitchcoc
3,6 April 2002,tt00112302,6/10,Spoiler warning! This is a mixed-bag when it c...,BadWebDiver
4,4 June 2015,tt00112302,5/10,"A mischievous young boy, Tom Sawyer (Jonathan ...",gavin6942
5,25 December 2004,tt00114709,9/10,I am a big fan of the animated movies coming f...,philip_vanderveken
6,31 March 2016,tt00112302,4/10,Tom Sawyer (Jonathan Taylor Thomas) runs away ...,SnoopyStyle

In [101]:
users = imdb_reviews.groupby('userid').count()

In [103]:
len(users[users['movieid'] > 25])

8756

In [21]:
imdb_reviews.to_csv('data/imdb_review.csv')
imdb_reviews.dropna(inplace=True)

In [ ]:
imdb_reviews.columns

In [50]:
ratings = pd.read_csv('data/movie_lense/ratings.csv')
links = pd.read_csv('data/movie_lense/links.csv')

In [51]:
ratings = ratings.merge(links, how='inner', left_on='movieId', right_on='movieId')

In [52]:
imdb_group = imdb_reviews.groupby('movieid').count().sort_values('userid', ascending=False)
imdb_group['temp'] = imdb_group.index

In [53]:
imdb_group['temp'] = imdb_group['temp'].apply(lambda x: re.sub('tt0*', '', x))

In [54]:
imdb_group.set_index('temp', inplace=True)

In [55]:
imdb_group = imdb_group[imdb_group['userid'] > 100]

In [56]:
imdb_group

         date  rating  text  userid
temp
111161   7779    7779  7779    7779
468569   6773    6773  6773    6773
2488496  4680    4680  4680    4680
120737   4642    4642  4642    4642
816692   4055    4055  4055    4055
...       ...     ...   ...     ...
138946    101     101   101     101
1231580   101     101   101     101
34167     101     101   101     101
499487    101     101   101     101
780595    101     101   101     101

[5436 rows x 4 columns]

In [57]:
ratings.set_index('imdbId', inplace=True)
ratings_group = ratings.groupby('imdbId').count().sort_values('userId', ascending=False)
ratings_group = ratings_group[ratings_group['userId'] > 100]

ratings_group

         userId  movieId  rating  timestamp  tmdbId
imdbId
111161    97999    97999   97999      97999   97999
109830    97040    97040   97040      97040   97040
110912    92406    92406   92406      92406   92406
102926    87899    87899   87899      87899   87899
133093    84545    84545   84545      84545   84545
...         ...      ...     ...        ...     ...
54022       101      101     101        101     101
3276924     101      101     101        101     101
80634       101      101     101        101     101
1464174     101      101     101        101     101
68273       101      101     101        101     101

[10448 rows x 5 columns]

In [58]:
imdb_group

         date  rating  text  userid
temp
111161   7779    7779  7779    7779
468569   6773    6773  6773    6773
2488496  4680    4680  4680    4680
120737   4642    4642  4642    4642
816692   4055    4055  4055    4055
...       ...     ...   ...     ...
138946    101     101   101     101
1231580   101     101   101     101
34167     101     101   101     101
499487    101     101   101     101
780595    101     101   101     101

[5436 rows x 4 columns]

In [62]:
imdb_group['ind'] = imdb_group.index.astype(int)

In [60]:
ratings_group['ind'] = ratings_group.index

In [66]:
final = ratings_group.merge(imdb_group, how='inner', on='ind').sort_values(['userid','userId'], ascending=False)

In [72]:
final = final.head(1000)

In [73]:
final

,userId,movieId,rating_x,timestamp,tmdbId,ind,date,rating_y,text,userid
0,97999,97999,97999,97999,97999,111161,7779,7779,7779,7779
41,44741,44741,44741,44741,44741,468569,6773,6773,6773,6773
481,12747,12747,12747,12747,12747,2488496,4680,4680,4680,4680
16,61883,61883,61883,61883,61883,120737,4642,4642,4642,4642
190,23081,23081,23081,23081,23081,816692,4055,4055,4055,4055
...,...,...,...,...,...,...,...,...,...,...
3533,659,659,659,659,659,780653,437,437,437,437
3966,439,439,439,439,439,1536537,437,437,437,437
1543,3597,3597,3597,3597,3597,265208,436,436,436,436
3062,981,981,981,981,981,2554274,436,436,436,436
346,15818,15818,15818,15818,15818,73629,435,435,435,435

In [74]:
final['ind'].to_csv('data/movie_lense_imdb_subspace.csv')

In [86]:
final['ind']

0        111161
41       468569
481     2488496
16       120737
190      816692
         ...
3533     780653
3966    1536537
1543     265208
3062    2554274
346       73629
Name: ind, Length: 1000, dtype: int64

In [78]:
movie_index = imdb_reviews.set_index('movieid')
movie_index.drop('movieid', inplace=True)

In [91]:
print(111161 in final['ind'].values)

True

In [105]:
with open('data/mostpopular.txt', 'r') as most:
    data = most.readlines()

for i in range(len(data)):
    data[i] = int(float(data[i].replace('\n', '')))
data

[318,
 356,
 296,
 593,
 2571,
 260,
 480,
 527,
 110,
 1,
 1210,
 1196,
 2959,
 589,
 1198,
 50,
 4993,
 858,
 2858,
 780,
 150,
 457,
 1270,
 7153,
 5952,
 47,
 32,
 608,
 592,
 2028,
 2762,
 590,
 588,
 380,
 3578,
 364,
 4306,
 377,
 344,
 648,
 1721,
 58559,
 1580,
 4226,
 1197,
 1704,
 595,
 1240,
 1193,
 1291,
 79132,
 165,
 1136,
 1265,
 1097,
 1036,
 6539,
 541,
 1214,
 1221,
 367,
 736,
 153,
 597,
 500,
 733,
 231,
 1089,
 2628,
 4973,
 4886,
 6377,
 316,
 293,
 1527,
 3793,
 1682,
 1213,
 34,
 6874,
 2716,
 7361,
 1200,
 349,
 2329,
 4995,
 4963,
 1073,
 2997,
 5445,
 3147,
 10,
 111,
 586,
 1961,
 1617,
 1206,
 587,
 1258,
 5349,
 33794,
 8961,
 539,
 778,
 924,
 208,
 253,
 3996,
 912,
 5418,
 357,
 329,
 7438,
 3114,
 1732,
 750,
 39,
 2918,
 1208,
 292,
 5989,
 1923,
 2683,
 4878,
 6,
 2706,
 60069,
 1968,
 1222,
 454,
 434,
 1246,
 919,
 4896,
 2396,
 2,
 44191,
 4022,
 2324,
 1917,
 185,
 1517,
 223,
 2115,
 59315,
 4011,
 1387,
 288,
 2291,
 1784,
 161,
 48516,
 68954,
 141,
 1307,
 339,
 1393,
 95,
 21,
 2502,
 2011,
 2355,
 72998,
 4027,
 1080,
 2012,
 1259,
 1610,
 19,
 25,
 1584,
 2987,
 2916,
 17,
 1653,
 6365,
 1219,
 551,
 36,
 2174,
 1225,
 32587,
 8368,
 1101,
 3949,
 62,
 5618,
 2797,
 1220,
 48780,
 109487,
 68157,
 5816,
 3897,
 2710,
 2791,
 5378,
 508,
 788,
 1356,
 1573,
 904,
 104,
 1485,
 1079,
 8636,
 300,
 3948,
 2617,
 54286,
 8360,
 6016,
 6711,
 923,
 49272,
 6333,
 8665,
 16,
 2692,
 3623,
 1625,
 2000,
 2542,
 3751,
 1247,
 594,
 442,
 410,
 3977,
 48394,
 99114,
 2700,
 3408,
 474,
 440,
 1391,
 46578,
 63082,
 8874,
 4034,
 1407,
 50872,
 51662,
 1201,
 91529,
 11,
 337,
 3052,
 908,
 33493,
 1127,
 40815,
 1230,
 1676,
 5218,
 2054,
 56367,
 3481,
 1252,
 6934,
 786,
 1380,
 368,
 1090,
 2712,
 509,
 1288,
 7147,
 74458,
 2268,
 55820,
 1954,
 2353,
 1370,
 920,
 70286,
 5995,
 3527,
 2194,
 266,
 353,
 1374,
 1183,
 1207,
 317,
 1203,
 903,
 1234,
 8644,
 1304,
 1278,
 953,
 235,
 3994,
 89745,
 1544,
 1641,
 2640,
 784,
 555,
 1148,
 1394,
 6502,
 2081,
 163,
 1035,
 520,
 2985,
 173,
 1608,
 1552,
 1199,
 2302,
 1028,
 3753,
 350,
 370,
 4979,
 708,
 2006,
 653,
 45722,
 3471,
 2395,
 1997,
 69122,
 3175,
 832,
 68358,
 4246,
 7143,
 1266,
 1777,
 553,
 3081,
 420,
 2671,
 48,
 7254,
 1639,
 1320,
 1500,
 3176,
 134130,
 1673,
 2699,
 160,
 2321,
 2001,
 1233,
 116797,
 158,
 596,
 70,
 2657,
 6373,
 4262,
 3,
 2572,
 112852,
 2599,
 2406,
 3253,
 485,
 4308,
 435,
 5,
 48774,
 1204,
 466,
 1376,
 196,
 497,
 35836,
 145,
 7,
 1358,
 1645,
 30707,
 5459,
 1377,
 2529,
 552,
 4370,
 81845,
 1722,
 73017,
 5669,
 78499,
 2804,
 106782,
 802,
 2167,
 6863,
 1282,
 1250,
 2424,
 913,
 2019,
 5502,
 1302,
 1876,
 494,
 1909,
 172,
 1215,
 2890,
 543,
 51255,
 56174,
 54001,
 2763,
 3160,
 6378,
 5010,
 2470,
 6942,
 3418,
 3033,
 5060,
 69844,
 1088,
 48385,
 80463,
 1729,
 1408,
 81834,
 4720,
 2947,
 432,
 4014,
 805,
 76093,
 1396,
 1242,
 5299,
 745,
 3000,
 3448,
 2100,
 81591,
 910,
 168,
 1690,
 2003,
 1748,
 4025,
 64614,
 91500,
 134853,
 1333,
 236,
 151,
 2701,
 92259,
 71535,
 3101,
 1094,
 5679,
 2005,
 342,
 4447,
 225,
 112,
 2023,
 783,
 58,
 1276,
 33679,
 88125,
 3421,
 376,
 1092,
 1275,
 4085,
 122904,
 44,
 1285,
 186,
 2273,
 41566,
 333,
 3755,
 4848,
 54503,
 122882,
 2294,
 3535,
 628,
 673,
 30793,
 49530,
 112556,
 3717,
 4018,
 1674,
 1263,
 899,
 902,
 3671,
 1262,
 122886,
 661,
 1466,
 1597,
 1375,
 2407,
 265,
 2080,
 2455,
 785,
 1372,
 3911,
 1059,
 34405,
 315,
 3785,
 1747,
 69757,
 1569,
 2161,
 282,
 6537,
 109374,
 30749,
 2105,
 8784,
 2278,
 471,
 47610,
 33166,
 6870,
 4310,
 1907,
 27773,
 914,
 60684,
 261,
 3255,
 852,
 111759,
 104841,
 969,
 2288,
 4975,
 5481,
 1293,
 1339,
 1228,
 5377,
 31,
 345,
 355,
 2694,
 53125,
 77561,
 4270,
 5902,
 256,
 529,
 1371,
 4718,
 115713,
 4776,
 8464,
 762,
 515,
 5991,
 1562,
 2770,
 59784,
 2078,
 59369,
 3039,
 4643,
 246,
 34162,
 1172,
 3752,
 1022,
 76251,
 4816,
 8798,
 105,
 277,
 1994,
 3275,
 7293,
 1884,
 3703,
 45499,
 585,
 3702,
 22,
 87232,
 2076,
 2761,
 2539,
 44195,
 1084,
 1918,
 8361,
 2002,
 1921,
 252,
 34048,
 5903,
 7458,
 5956,
 2541,
 68237,
 3499,
 1029,
 2420,
 112552,
 3256,
 3489,
 1060,
 64957,
 2193,
 1345,
 3082,
 1343,
 431,
 98809,
 2021,
 2144,
 3624,
 1129,
 57669,
 55247,
 216,
 115617,
 31658,
 724,
 3552,
 1287,
 6807,
 3006,
 2724,
 8376,
 2248,
 1271,
 1367,
 5464,
 2336,
 1120,
 1405,
 2058,
 1061,
 1249,
 53996,
 8622,
 52,
 8984,
 3916,
 475,
 2605,
 1267,
 1967,
 3252,
 4369,
 2717,
 1244,
 2150,
 1947,
 1962,
 1953,
 4571,
 4367,
 96079,
 3863,
 2427,
 2746,
 3967,
 2641,
 8529,
 3300,
 455,
 2393,
 56782,
 616,
 2124,
 1274,
 29,
 33004,
 45447,
 36529,
 4148,
 1235,
 2160,
 198,
 1882,
 2871,
 3510,
 2490,
 84152,
 849,
 1047,
 2723,
 2085,
 441,
 96610,
 4638,
 1032,
 3210,
 1513,
 4223,
 106920,
 2968,
 5971,
 180,
 4239,
 45,
 1042,
 1479,
 7373,
 40819,
 720,
 6218,
 44555,
 3072,
 79091,
 8957,
 54272,
 46976,
 85414,
 1347,
 968,
 47099,
 4361,
 30812,
 5266,
 1027,
 8949,
 2915,
 1261,
 1663,
 3617,
 170,
 2140,
 2908,
 1272,
 44665,
 2580,
 8641,
 3868,
 2881,
 2581,
 106487,
 1644,
 3174,
 3107,
 86332,
 204,
 8972,
 524,
 2722,
 2018,
 1093,
 8950,
 838,
 531,
 1223,
 372,
 24,
 7451,
 1321,
 1357,
 2501,
 1805,
 224,
 1831,
 2826,
 719,
 362,
 2087,
 79702,
 2953,
 111362,
 41569,
 3363,
 2145,
 741,
 7090,
 44199,
 193,
 119145,
 1911,
 97921,
 3301,
 3386,
 3247,
 3826,
 1373,
 4874,
 1912,
 8533,
 2949,
 1231,
 91542,
 3108,
 4002,
 2948,
 647,
 3362,
 8970,
 610,
 2020,
 164179,
 1188,
 1717,
 1186,
 4016,
 52973,
 6947,
 3555,
 31685,
 348,
 45720,
 3105,
 88129,
 2289,
 1590,
 88140,
 1586,
 2109,
 1680,
 31696,
 306,
 327,
 91658,
 39183,
 272,
 45517,
 273,
 8528,
 1175,
 247,
 4299,
 2944,
 3148,
 3005,
 2394,
 52722,
 3988,
 4701,
 69481,
 4321,
 97304,
 110102,
 5388,
 59615,
 3698,
 922,
 1960,
 1587,
 2366,
 1982,
 2707,
 319,
 2951,
 30810,
 1020,
 107,
 468,
 1378,
 3361,
 2094,
 152081,
 2064,
 2096,
 830,
 1957,
 2232,
 1299,
 3396,
 102125,
 4734,
 2313,
 106489,
 3354,
 4446,
 61323,
 1212,
 7445,
 6936,
 307,
 2231,
 2431,
 51540,
 88744,
 303,
 1077,
 230,
 4344,
 53322,
 3273,
 55765,
 1037,
 898,
 1269,
 37729,
 2478,
 3020,
 1104,
 97938,
 2359,
 135,
 2108,
 6281,
 5810,
 81847,
 6953,
 1566,
 94959,
 3798,
 2300,
 3409,
 2335,
 34319,
 60074,
 82459,
 60,
 6188,
 2371,
 38061,
 743,
 1298,
 800,
 3317,
 5630,
 3556,
 2352,
 72641,
 2872,
 3285,
 2687,
 2403,
 1296,
 102445,
 916,
 3257,
 1952,
 94864,
 5872,
 1385,
 5219,
 5254,
 2795,
 2391,
 3969,
 6534,
 68319,
 30825,
 671,
 4641,
 5013,
 2421,
 122892,
 8783,
 1292,
 1438,
 2485,
 4019,
 3424,
 1801,
 1253,
 215,
 1779,
 1019,
 5444,
 1103,
 2423,
 63113,
 1409,
 2405,
 2125,
 6157,
 1411,
 61132,
 1499,
 799,
 2378,
 1179,
 54997,
 53972,
 1245,
 1965,
 562,
 74789,
 413,
 6754,
 2616,
 33615,
 2134,
 54259,
 106696,
 2686,
 1095,
 ...]

In [114]:
temp_list= []
for movie in tqdm(movie_index.index.unique()):
    if(int(re.sub('tt0*', '', movie)) in final['ind'].values):
        temp = movie_index.loc[movie]
        reviews = ''
        s = pd.Series()
        if(type(s) == type(temp)):
            print(temp[2])
            reviews = temp[2]
        else:
            for ind, i in temp.head(50).iterrows():
                reviews += i['text']+ ' '
        temp_list.append({'movieid': links[links['imdbId'] == int(re.sub('tt0*', '', movie))]['movieId'], 'reviews': reviews})

top50 = pd.DataFrame(temp_list)

  0%|                                                  | 0/48239 [00:00<?, ?it/s]<ipython-input-114-b521c7933de8>:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()
100%|█████████████████████████████████████| 48239/48239 [03:08<00:00, 256.19it/s]

In [112]:
top50.head()

Empty DataFrame
Columns: []
Index: []

In [109]:
top50.to_csv('data/movie_lense_subspace_reviews.csv')

In [2]:
import pandas as pd

In [9]:
g_score = pd.read_csv('data/movie_lense/genome-scores.csv')
g_tag =pd.read_csv('data/movie_lense/genome-tags.csv')
tags =pd.read_csv('data/movie_lense/tags.csv')

In [5]:
g_tag[g_tag['tag'] == 'documentary']

     tagId          tag
314    315  documentary

In [13]:
tags = tags.merge(g_tag, how='inner', on='tag')

In [18]:
import pickle

In [20]:

pickle.dump(tags[tags['tagId'].isin([668,669])]['movieId'].unique(), open( "data/moral_movieId.p", "wb" ))