In [1]:
from scipy.signal import savgol_filter
import csv
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')
data.head()

   row_id  well_id          GR  label
0       0        0   99.005617      0
1       1        0  105.563944      0
2       2        0  105.921065      0
3       3        0  113.513354      0
4       4        0  101.523783      0

In [3]:
data['well_id'].unique()

array([   0,    1,    2, ..., 3997, 3998, 3999], dtype=int64)

In [ ]:
dataRows = []
dataLabels = []

for i in data['well_id'].unique():
    print(i)
    dataRows.append(data[data['well_id'] == i]['GR'])
    dataLabels.append(data[data['well_id'] == i]['label'])

In [ ]:
rowData = pd.DataFrame(dataRows)
labels = pd.DataFrame(dataLabels)